.center
	{
		text-align: center;
		list-style-position: inside;
	}
ol.center li
	{
		text-align: left;
		margin-left: 20%;
	}
	
body {
	background-color: #D1CCFD;
}
	
header {
	font-family: Verdana;
}

p {
	font-family: "verdana", serif;
}

img {
	width: 150px;
	height: 150px;
	border: 5px solid black;
	padding: 0px;	
}


